<div class="footer-card">

<div>
<div class="space-between">{{ pattern('text_button',{
        text: 'Submit your own blog',
        url: '/node'
    }) }}</div>

<div>{{ pattern('title_text',{
        text: "Let's build the community!",
        url: '/node'
    }) }}</div>


  <div class="space-between">{{ pattern('button',{
        text: 'Submit',
        url: '/node'
    }) }}</div>
</div>

<div class="ml-15">
  {{ pattern('image',{
    image: 'Kitten',
    url: 'https://placekitten.com/10'
  })}}
</div>


</div>

