.card{
    background-color: #ffffff;
    padding:2em;
    display: inline-flex;
}
.card_content{
    width: 60%;
}
.card_image{
    width: 30%;
    margin-left:4em;
    background-color: gray;
}


.more_info-category{
    display: inline-flex; 
    align-items: center;
    padding-top: 1em;
}

.space-between{
    padding: 1em 1em 0em 0em;
}

.first-item{
    padding: 0em 1em 0em 0em;
}