<div class="card">


<div>
   {{ url_image }}
</div>

<div class="margin-profile">
    <div>{{ pattern('title_text',{
        text: name,
        url: '#'
    }) }}</div>

    <div>{{ pattern('text_button',{
        text: username,
        url: '#'
    }) }}</div>
</div>

<div class="btn-style">

<div>{{ pattern('button',{
        text: 'Edit Profile',
        url: '/node'
}) }}</div>
</div>

</div>