<div class="card">


<div class="profile-img-style">{{ pattern('image',{
        text: '',
        url: '/node'
    }) }}</div>

<div class="mt-4">
    <div>{{ pattern('title_text',{
        text: 'Blogs',
        url: '/node'
    }) }}</div>

    <div>{{ pattern('text_button',{
        text: 'Insides into the world of drupal',
        url: '/node'
    }) }}</div>
</div>

<div class="btn-style">

<div>{{ pattern('button',{
        text: 'Edit Profile',
        url: '/node'
}) }}</div>
</div>

</div>