<div class="card">
<div>


<div>{{ pattern('title_text',{
        text: 'Blogs',
        url: '/node'
    }) }}</div>

<div class="title-items">

<div class="space-between">{{ pattern('text_button',{
        text: 'Author',
        url: '/node'
    }) }}</div>

<div class="space-between">{{ pattern('text_button',{
        text: 'Date',
        url: '/node'
    }) }}</div>

</div>

</div>


</div>