<div class="title_card">
<div>


<div>{{ pattern('title_text',{
        text: title,
        url: '#'
    }) }}</div>

<div class="title-items">

<div class="space-between">{{ pattern('text_button',{
        text: author,
        url: '/node'
    }) }}</div>

<div class="space-between">{{ pattern('text_button',{
        text: date,
        url: '#'
    }) }}</div>

</div>

</div>


</div>