<div class="title_card">
<div>

<div>{{ pattern('title_text',{
        text: title,
        url: '#'
    }) }}</div>

<div class="title-items">

<div class="space-between-items">{{ pattern('text_button',{
        text: author,
        url: '/node'
    }) }}</div>

<div class="space-between-items">{{ pattern('normal_text',{
        text: date,
    }, 'gray_text') }}</div>

</div>

</div>


</div>