<div class="card">
<div>


<div>{{ pattern('title_text',{
        text: 'Blogs',
        url: '/node'
    }) }}</div>

<div>{{ pattern('text_button',{
        text: 'Insides into the world of drupal',
        url: '/node'
    }) }}</div>


</div>

<div class="header-line">

<div>{{ pattern('search_bar',{
        text: '',
        url: '/node'
}) }}</div>
</div>
</div>