.card{
    background-color: #ffffff;
    padding:2em;
    display: inline-flex;
}



.header-line{
    width: 30%;
    margin-left:4em;
    align-items: center;
}


.space-between{
    padding: 1em 1em 0em 0em;

}
