.category_btn{
    display: inline-flex;
    padding: 3px 14px;
    align-items: flex-start;
    gap: 8.212px;
    border-radius: 25.457px;
    border: 0.821px solid #C9C9C9;
    background: #FFF;
    color: #797979;
    font-size: 13.139px;
    font-family: Inter;
    font-weight: 500;
    text-decoration: none;
}
