.nav_card{
    background-color: #ffffff;
    padding:2em;
    display: inline-flex;
    width: 100%;
}
.card_content{
    width: 60%;
}
.card_image{
    width: 30%;
    margin-left:4em;
    background-color: gray;
}


.more_info{
    display: inline-flex; 
    align-items: center;
}

.menu_items{
    display: inline-flex; 
    align-items: center;
    margin-left: 48em;
}

.space-between{
    padding: 0em 1em 0em 1em;

}

.search-bar-style{
    margin-left: 3em;
    margin-right: 6em;
}
