.nav_card {
    background-color: #ffffff;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .more_info {
    display: flex;
    align-items: center;
  }
  
  .menu_items {
    display: flex;
    align-items: center;
  }
  
  .space-between {
    padding: 0em 1em;
  }
  
  .search-bar-style {
    margin-left: 3em;
    margin-right: 6em;
  }
  
  .menu_items .space-between:last-child {
    margin-left: auto;
  }

.search-bar-style{
    margin-left: 3em;
    margin-right: 6em;
}
