<div class="card">

<div>

<div>
  {{ pattern('image',{
    image: 'Kitten',
    url: 'https://placekitten.com/10'
  })}}
</div>

<div>{{ pattern('title_text',{
        text: 'Powerful Trading Tools and Features for Experienced Investors',
        url: '/node'
    }) }}</div>

<div class="gallery-card-items">
<div class="space-between">{{ pattern('text_button',{
        text: 'Author',
        url: '/node'
    }) }}</div>

  <div class="space-between">{{ pattern('text_button',{
        text: 'Time',
        url: '/node'
    }) }}</div>

</div>

</div>

</div>

