<div class="video-card">

<div>

<div>
   {{ url_video }}
</div>

<div>{{ pattern('title_text',{
        text: title,
        url: '#'
    }) }}</div>

<div class="gallery-card-items">
<div class="space-between">{{ pattern('text_button',{
        text: author,
        url: '#'
    }) }}</div>

  <div class="space-between">{{ pattern('text_button',{
        text: 'Time',
        url: '/node'
    }) }}</div>

</div>

</div>

</div>

