<div class="card">

<div>

<div>
   {{ url_image }}
</div>
{#Hacer un pattern sin la url#}
<div>{{ pattern('text_button',{
        text: category,
        url: url 
    },'blue_text') }}</div>
<div>{{ pattern('normal_text',{
        text: body,
    },'blue_text') }}</div>

</div>

</div>
